html,
body {
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to bottom right, #444444, #111111);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-size: 1.5rem;

    color: whitesmoke;
}

header {
    top {
        display: flex;
        height: 8em;
        .title {
            flex: 1;
            text-align: center;
            margin: 1em;
        
        }
        .spacer {
            flex: 10;
        }
        .acount {
            text-align: center;
            margin: auto;
            margin-right: 2em;
            .acount_name {
                margin: 0;
            }
        }
        .login_button {
            height: 25%;
            margin: auto;
            width: 5rem;
            margin-right: 1rem;
            margin-left: 1rem;
            font-size: 1rem;
        }
    }

    nav_bar {
        display: flex;

        button {
            flex: 2;
        }

        .spacer {
            flex: 10;
        }

        .spacer1 {
            flex: 1
        }

    }
}


home {
    .featured {
        display: flex;
        overflow-x: auto;
    }
}








.project_title {
    margin-bottom: 0;
    margin-top: 0;
}

.project_listing {
    flex: 1;
    text-align: center;
    width: 10em;
    margin: 0.5em;

    .desc {
        text-align: left;
        margin-top: 0;
        font-size: 0.75em;
        height: 9ch;
        overflow: hidden;
    }
}



login {
    margin: auto;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    height: initial;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .centered_box {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    label {
        display: block;
        font-size: 0.9rem
    }
}






